
body{
    background-color: whitesmoke;
}

body{
    font-size: 12px;
    /* background : #000000 url("../image/wallpaper.jpg") no-repeat fixed center; */
    background-position: top;
    background-size: 100% auto;
    font-family: 'Orbitron', sans-serif;
   }

#firstline{
    margin-top: 3%;
}

img{
    border-radius: 3px;
}

#technology{
    margin-top: 5%;
    text-align: center;
}
#technology h2{
    color: blue;
    font-size: 60px;
    font-weight: bold;
}

#technology p{
    color: black;
    font-size: 20px;
}

#projects{
    text-align: center;
}

#projects h2{
    color: red;
    font-size: 60px;
    font-weight: bold;
}

#projects p{
    color: black;
    font-size: 20px;
}
/* .imageDiv{
    box-shadow: 5px 10px 8px 10px #888888;
} */

#content{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
}

.myName{
    margin-left: 2%; 
    color: rgb(0, 255, 127);
}
.myName:hover{
    color: white;
}

.navitems{
    font-size: 20px;
    color: white;
    margin-left: 60%;
}

#content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

#top{
    background: linear-gradient(to right, 	#00FF7F, #98FB98)
}

#top img{
    margin-left: 50%;
}

.gitbtn{
    border-radius: 20px;
    background-color:rgb(165, 42, 42);
    border: none;
}

.gitbtn:hover{
    background-color: white;
    color: brown;
}

#line{
    color: red; 
    width: 400px; 
    margin-left: 35%;
}

.photo{
    border-radius: 20px;
}

.mybtn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #00FF7F;
    font-size: 24px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  
  .mybtn:hover {
    color: #ffffff;
    background: black;    
    text-decoration: none;
  }


#content h1{
    font-size: 80px;
    font-weight: bold;
}

#techFirst{
    margin-left: 18%;
}

#techSecond{
    margin-left:25%;
}

#techThird{
    margin-left:35%;
}
#techForth{
    margin-left:44%;
}

.techRemaining{
    margin-left: 2%;
}

#secondLine{
    color: red; 
    width: 400px; 
    margin-left: 35%;
}

.leftProject{
    width: 28rem; 
    text-align: center;
    display: inline-block; 
    margin-left: 14%; 
    border-radius: 20px;
    margin-bottom: 5%;
}
.RightProject{
    width: 28rem; 
    text-align: center; 
    display: inline-block; 
    margin-left: 7%; 
    border-radius: 20px;
    margin-bottom: 5%;
}

.projectImage{
    border-radius: 60px; 
    padding: 4%;
}

.card-body p{
    font-size: 15px;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

@media only screen and (max-width: 480px) {

    #content{
        margin-top: 2%;
        margin-left: 2%;
    }
    #content h1{
        font-size: 40px;
        font-weight: bold;
        margin-top: 4%;
    }
    .mybtn {
        -webkit-border-radius: 30;
        -moz-border-radius: 30;
        border-radius: 20px;
        font-family: Arial;
        color: #00FF7F;
        font-size: 17px;
        background: #ffffff;
        /* padding: 10px 20px 10px 20px; */
        border: solid #000000 1px;
        text-decoration: none;
      }
      
      .mybtn:hover {
        color: #ffffff;
        background: black;
        text-decoration: none;
      }
    #top img{
        height: 240px;
        width: 240px;
        margin-left: 16%;
        margin-top: 60%;
    }

    #technology h2{
        font-size: 40px;
    }
    #technology p{
        font-size: 18px;
    }
    #line{
        color: red; 
        width: 160px; 
        margin-left: 24%;
    }
    .photo{
        border-radius: 10px;
    }

    #techFirst, #techSecond, #techThird, #techForth{
        height: 70px;
        width: 70px;
    }
   
    #techFirst{
        margin-left: 12%;
    }
    
    #techSecond{
        margin-left: 20%;
    }
    
    #techThird{
        margin-left:28%;
    }
    #techForth{
        margin-left:36%;
    }
    
    .techRemaining{
        margin-left: 1%;
    }

    .techRemaining{
        height: 70px;
        width: 70px;
    }

    #projects h2{
        font-size: 40px;
    }
    #projects p{
        font-size: 18px;
    }
   
    #secondLine{
        color: red; 
        width: 150px; 
    }
   
    .leftProject{
        width: 18rem; 
        text-align: center;
        display: inline-block; 
        margin-left: 11%; 
        border-radius: 10px;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .RightProject{
        width: 18rem; 
        text-align: center; 
        display: inline-block; 
        margin-left: 11%; 
        border-radius: 10px;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .projectImage{
        width: 260px;
        height: 200px;
        border-radius: 20px; 
        padding: 1%;
    }


}
